#map {
  position: relative;
  overflow: hidden;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.store-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  position: absolute;
  top: 20;
  width: 100%;
  z-index: 1;
}

#map {
  margin-top: 30px;
}

#findstores {
  font-size: 16px;
  font-weight: bold;
  color: darkgreen;
  margin: auto;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#autocomplete {
  width: 50%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.storeIcon {
  width: 24px;
  height: 24px;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}
