* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
}

label {
    margin: 5px 10px;
}

#delete_item {
    background-color: #77ACA2;
    padding: 20px;
}

#grocery {
    background-color: #468189;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#remove_grocery {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 15px;
}

#grocery_input {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 200px;
    margin: 20px 10px;
    padding: 5px 0;
    border: 2px solid darkgray;
    border-radius: 10px;
}

#grocery:hover {
    background-color: #468189;
}

.trash {
    border: none;
    background-color: inherit;
    width: 50px;
    height: 35px;
    margin-top: 5px;
    color: #22577a;
}

.list-item {
    display: flex;
    flex-direction: row;


}

.grocery_label {
    font-size: 20px;
}

#sub {
    color: #468189;
    border-radius: 5px;
    margin-left: 10px;
}

#checkbox4 {
    margin-right: 10px;
}

/* .grocery-list {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 8rem;
  position: absolute;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
} */
/* 
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
  }  */
  
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #468189;
    outline: none;
    text-align: center;
    font-style: oblique;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }

@media screen and (max-width: 800px) {
    img {
      max-height: 20px;
    }
  }