* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

img {
    width: 400px;
    padding: 20px;
}

label {
    margin: 5px 10px;
}

#delete_item {
    background-color: rgb(213, 236, 223);
    padding: 20px;
}