* {
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.image_wrapper {
    position: relative;
  }
  
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: relative; 
  }
  
  .overlay_0 {
    left: 10;
    top: 50;
    padding: -10rem;
    margin: -10px;
    
  }

.wrapper .row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.rounded-12 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.side-image {
    background-image: url("Magic.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    color: #77ACA2;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field .input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid~label {
    top: -10px;
    font-size: 15px;
    color: #40414a;
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #77ACA2;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececee;
    border-radius: 5px;
    transition: .4s;
}

.submit:hover {
    background: #77ACA2;
    color: #fff;
}

.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
    color: #77ACA2;
    font-size: 15px;
}

#signin:hover {
    border: none;
    background: #77ACA2;
    color: #fff;
}

.login-form {
    max-width: 100%;
    padding: 2em;

    @media (max-width: 576px) {
        max-width: 90%;
    }
}

.modal-header img {
    height: 15%;
    width: 15%;
    background-color: inherit;
    margin-right: 20px;
}

.modal-content {
    width: 80%;
    margin: 0px auto;
    background-color: #F4E9CD;
}

.modal-body {
    padding: 0px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }

    .text {
        position: absolute;
        top: 30%;
        text-align: center;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row {
        max-width: 420px;
        width: 100%;
    }
}

body {
    background-image: url("f4e9cd\ .png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

header {
    color: #468189;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input2 {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.login-form .btn {
    width: 100%;
    font-weight: 800;
    padding: 0.5em 0;
    border: none;
    outline: none;
    height: 45px;
    background: #cbcbda;
    border-radius: 5px;
    transition: .4s;
}

.login-form .btn:hover {
    border: none;
    background: #77ACA2;
    color: #fff;
}


i {
    position: relative;
    top: -33px;
    left: 17px;
    color: lightgray;
}

::-webkit-input-placeholder {
    color: lightslategray;
}

.submit2 {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: #468189;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

#content {
    position: relative;
}

#logout {
    background-color: #468189;
    color: white;
}

.section-heading {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover {
    font-weight: 600;
    font-size: 15px;
    color: #468189;
}

.card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
}

.recepie_area img {
    padding: 10px;
    width: 100%;
}

.row {
    width: 900px;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ingredients {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .ingredients {
        margin-bottom: 80px;
    }
}

.search_fav {
    position: relative;
    width: 460px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 20px;
}

.search_input {
    position: relative;
    width: 400px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  
}

#mysearch {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    margin-left: 20px;
}

.search_fav .button {
    display: block;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

#fav {
    border: none;
    font-size: 20px;
    outline: none;
    margin-left: 60%;
    margin-top: 1%;
    background: inherit;
    overflow: visible;
}


#fav i:hover {
    cursor: pointer;
}

#fav-search {
    margin-left: 70%;
    height: 0px;
    width: 10px;
    border: 0;
}

.nav-item:hover {
    color: #468189;
}

/* Slider */
.slide-1 {
   
    background-image: url("MI.png") ;
}

.slide {
    background: linear-gradient(#9DBEBB, #77ACA2);
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: inherit;
    width: 40px;
    height: 70px;
    margin: auto;
}

.recipe-img {
    position: relative;
    margin-top: 100px;
    width: 100%;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card {
    box-shadow: 2px 6px 8px 0 #F4E9CD;
    border: none;
    border-radius: 10px;
  }
  .carousel-inner {
    padding: 1em;
  }
  
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
 
  .card-text {
    font-size: 12px;
  }

  
footer.x-colophon {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    font-size: small;
    text-align: center;
}
.x-main{
    min-height: calc(100vh - 95px);
}

#refresh {
    color: #468189;
    background-color: #F4E9CD;
    border-radius: 5px;
}