{% extends 'base.html' %}

{% block title %}My favorite recipes{% endblock %}

{% block body %}
    <div class="container">
        <form action="/favorites" method="POST" autocomplete="off">
            <div class="search_fav">
                <div class="search_input">
                    <input type="text" name="search_fav" id="mysearch" placeholder="Search favorite recipe">
                    <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
                </div>
            </div>
            <button type="submit" id="fav-search"><i class="fa fa-search"></i></button>
        </form>

        <div id="fav-list" class="row " >
            {% if not recipes %}
            <h1>You don't have any favorite recipes</h1>
            {% else %}
            {% for recipe in recipes %}
            <div class="col-xl-4 col-lg-4 col-md-8">
                <div class="single-receipe-area" style="margin-top: 20px;">
                    <div class="card text-center image_wrapper" style="box-shadow: 2px 6px 8px 0 #77ACA2;">
                        {% if not recipe['image'] %}
                        <img src="/static/css/noimage.jpeg" class="card-img-top">
                        <div class="overlay overlay_0">
                            <form action="/delete_from_favorite/{{ recipe['recipe_id'] }}">
                                <Button id="fav"><i class="fas fa-heart" id="red_heart" style="color: red;"></i></Button>
                            </form>
                        </div>
                        {% else %}
                        <img src="{{recipe['image']}}" class="card-img-top">
                        <div class="overlay overlay_0">
                            <form action="/delete_from_favorite/{{ recipe['recipe_id'] }}">
                                <Button id="fav"><i class="fas fa-heart" id="red_heart" style="color: red;"></i></Button>
                            </form>
                        </div>
                        {% endif %}
                        <div class="recipe-content" style="margin-top: 5px; margin-bottom: 20px">
                            {% if recipe['recipe_name']|length <= 25 %} 
                                <a href="/recipe_fav?id={{ recipe['recipe_id'] }}" style="color: #468189;">{{ recipe['recipe_name'] }}</a>
                            {% else %}
                                <a href="/recipe_fav?id={{ recipe['recipe_id'] }}"
                                    title="{{ recipe['recipe_name'] }}" style="color: #468189;">{{ recipe['recipe_name'][:25] + "..." }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}