{% extends 'base.html' %}

{% block title %}Search for restaurants{% endblock %}
{% block head %}
<!--CSS style-->
<link rel="stylesheet" href="/static/css/restaurant.css" />

{% endblock %}
{% block body %}
<div class="restaurant_area">
    <div class="container">
        <div class="col-12 intro-text mb-4 mt-4">
            Results of restaurant search {{ recipe_name }}
        </div>
        <div class="single-restaurant-area">
            <div class="row">
                {% if restaurants is defined %}
                {% for restaurant in restaurants %}
                <div class="col-xl-3 col-lg-4 col-md-8">
                    <div class="card text-center h-100" style="box-shadow: 2px 6px 8px 0 #77ACA2;">
                        {% if not restaurant['image_url'] %}
                        <img class="card-img-top" src="/static/css/noimage.jpeg" alt="...">
                        {% else %}
                        <img src="{{restaurant['image_url']}}">
                        {% endif %}
                        <div class="restaurant-content mt-4">
                            <a href="{{ restaurant['url'] }}" style="color: #468189;">{{ restaurant['name'] }}</a>
                            <p>⭐️ : {{ restaurant['rating'] }}<br>
                                {{ restaurant['location']['address1'] }}<br>
                                {% if restaurant['location']['address2'] %}
                                {{ restaurant['location']['address2'] }}
                                {% endif %} &nbsp;
                                {{ restaurant['location']['city'] }}&nbsp;{{ restaurant['location']['state'] }}<br>
                                {% if restaurant['phone'] %}
                                ☎️ {{ restaurant['phone'] }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}