{% extends 'base.html' %}

{% block title %}Search for restaurants{% endblock %}
{% block head %}
<!--CSS style-->
<link rel="stylesheet" href="/static/css/restaurant.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{% endblock %}
{% block body %}
<div class="restaurant_area">
    <div class="container">
        <div>
            Results of restaurant search {{ recipe_name }}
        </div>
        <div class="single-restaurant-area">
            <div class="row">
                {% if restaurants is defined %}
                {% for restaurant in restaurants %}
                <div class="col-xl-3 col-lg-6 col-md-8">
                    <div class="card text-center">
                        <img src="{{restaurant['image_url']}}">
                        <div class="restaurant-content">
                            <a href="{{ restaurant['url'] }}">{{ restaurant['name'] }}</a>
                            <p>Rating: {{ restaurant['rating'] }}</p>
                            <p>{{ restaurant['location']['address1'] }}</p>
                            <p>Open Now</p>
                            <p>{{ restaurant['phone'] }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="/static/js/restaurant.jsx"></script>
{% endblock %}