{% extends 'base.html' %}

{% block title %}My Shopping List{% endblock %}
{% block head %}
<!--CSS style-->
<link rel="stylesheet" href="/static/css/shoppinglist.css" />
{% endblock %}
{% block body %}
<div>
    <img src="static/css/sl-3.png" alt="">
</div>
<div class="container">
    <ul id="delete_item">
        <form action="/delete_item" method="POST">
            {% if not items %}
            <h1>Sorry, you don't have a shopping list yet.</h1>
            <input type="hidden" value="Delete checked items">
            {% else %}
            {% for item in items %}
                <input type="checkbox" id="{{ item.item_id }}" name="item" value="{{ item.item_id }}" onclick="check_clicked('{{ item.item_id }}')">
                <label class="grocery_label" for="{{ item.item_id }}" name="{{ item.item_id }}">{{ item.item }}</label><br>
                
            {% endfor %}
            <input id="remove_grocery" type="submit" value="Check items">
            {% endif %}
        <!-- </form>
        <form action="/update_item" method="POST">
                <input id="edit_grocery" type="submit" value="Edit item">
                <input id="save_btn" type="submit" value="Save">
        </form> -->
        <div id="add_grocery">
        <form action="/add_to_shoppinglist" method="POST">
            <input id="grocery_input" class="input_area" type="text" name="ingredient" onkeyup="enable()" placeholder="Enter grocery...">
            <input id="grocery" type="submit" value="Add more grocery" onclick="newItem()">
        </form>
    </div>
    </ul>
</div>
<script src="/static/js/shoppinglist.js"></script>
{% endblock %}