{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Page{% endblock %}

{% block body %}
<span>Welcome, {{ user.username }} !</span>
<h2 class="recipe_search">Show me what to cook!</h2>

<div class="container">
    <div class="justify-content-center" style="margin-bottom: 0px">
        <div class="col-md-12" style="text-align:center">
            <h3>In my pantry, I have the following items</h3>
            <form action="/search" method="POST">
                <input type="text" name="search" placeholder="Use , to seperate each ingredient" size="50">
                <input class="button" type="submit" value="Go!">
            </form>
        </div>
    </div>
</div>
<div class="recepie_area">
    <div class="container">
        <div class="row">
                {% for recipe in recipes %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-receipe-area">
                        <div class="text-center">
                            {% if 'image' not in recipe %}
                            <img src="static/images/noimage.jpeg">
                            {% else %}
                            <img src="{{recipe['image']}}">
                            {% endif %}
                            <div class="recipe-content">
                                {% if recipe['title']|length <= 25 %}
                                    <a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a>
                                {% else %}
                                    <a href="/recipe?id={{ recipe['id'] }}" title="{{ recipe['title'] }}">{{ recipe['title'][:25] + "..." }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}